@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Poppins:wght@100&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Playfair Display', serif;
}
container{
    margin: 10px;

}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.card{
    border-radius: 3%;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 15px;
    box-shadow: 0 0 1em rgba(0,0,0,.2);
    position: relative;
    align-self: normal;
    display: flex;
    flex-direction: column;
}
img{
    border-top-right-radius: 4%;
    border-top-left-radius: 4%;
}
.img-size{
    width: 100%;
    object-fit: cover;
}
.card-header{
    padding: 15px;
    color: #9f45ff;
}
.card-body{
    padding: 15px;
    margin-bottom: 30px;
}
.more-btn{
    background-color: #29bfff;
    color: #fff;
    text-decoration: none;
    border-radius: 10%;
    padding: 2px;
    
}